.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Navbar container styles */
.navbar {
  background-color: #2a4d74; /* Background color for the navbar */
  color: #fff; /* Text color */
  padding: 10px 0;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navbar list styles */
.navbar-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: right;
}

/* Navbar item styles */
.navbar-item {
  margin: 0 16px;
}

/* Navbar link styles */
.navbar-item a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: #3081c4; /* Change the text color on hover */
}

/* Optional: Add a highlight effect for the active link */
.navbar-item.active a {
  font-weight: bold;
}


/* Footer.css */

/* Default styles for desktop */
.footer {
  background-color:#2a4d74;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .footer {
    padding: 5px;
    font-size: 14px;
  }
}



.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }
  
  .resultContainer, .historyItem { 
    flex-direction: row;
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
  }
  
  .historyContainer {
    flex-direction: column;
    display: flex;
    height: 200px;
    align-items: center;
    flex-grow: 5;
    justify-content: flex-start;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
  }
  
  .inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
  }

 